.container {
    max-width: 1200px;
    /* Atur sesuai dengan lebar maksimum yang Anda inginkan */
    margin: 0 auto;
    padding: 20px;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo-item {
    width: calc(33.33% - 10px);
    /* 3 kolom, dikurangi margin */
    margin-bottom: 20px;
}

.photo-item img {
    width: 100%;
    height: auto;
}

/* Media query untuk tampilan di perangkat seluler dengan lebar maksimum 768px */
@media screen and (max-width: 768px) {
    .photo-item {
        width: calc(50% - 10px);
        /* 2 kolom pada tampilan seluler */
    }
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

.title h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.title p {
    font-size: 1.2rem;
    font-weight: 300;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}